# JetBrains
.idea/
.idea_modules/

# CMake
cmake-build-*/

# Output
Bin/

# Pulled third party dependencies
ThirdParty/ArgParse/
ThirdParty/Catch2/
ThirdParty/SPIRVHeaders/
ThirdParty/TinyXML2/
ThirdParty/VulkanHeaders/
ThirdParty/VulkanLoader/
