    public struct $NAME : IMessage {
        public const uint ID = $ID;

        public ByteSpan Memory
        {
            set => _memory = value;
        }

$TYPES

$FUNCTIONS

$MEMBERS

        private ByteSpan _memory;
    }

